@{
    ViewBag.Title = "Литература";
}
<link href="~/Content/AboutStyle.css" rel="stylesheet" type="text/css"/>

<div class="container img-responsive">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
            <div class="book">
                @*<img class="img-thumbnail" src="~/Content/Images/book.png" alt="Alternate Text"  style="padding:0;"/>*@
                <div class="row">
                    <div class="col-lg-2">
                        <img style="margin-top:40%; margin-left:120.9%;" width="100" class="img-circle" src="~/Content/Images/Literature/kolas.jpg" alt="kolas" />
                        <h4 style=" margin-left:137%;">Колас </h4>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-top:9%;margin-left:0.1%">
                        <p>
                        <p style="font-weight:800;">На полі вясною</p>
                        Люблю я прыволле<br />
                        Шырокіх палёў,<br />
                        Зялёнае мора<br />
                        Ржаных каласоў.<br />
                        <br />
                        I вузкія стужкі<br />
                        Сялянскіх палос —<br />
                        Люблю цябе, поле,<br />
                        Люблю я твой плёс.<br />
                        <br />
                        Ігрушы старыя,<br />
                        Што ў жыце шумяць,<br />
                        Зялёныя межы,<br />
                        Далёкую гладзь.<br />
                        <br />
                        Люблю я дарогі,<br />
                        Што леглі між гор,<br />
                        Ўнізе пад гарою<br />
                        Ручча разгавор.
                        </p>
                    </div>
                    <div class="col-lg-2">
                        <img style="margin-top:40%; margin-left:-20%"  width="100" class="img-circle" src="~/Content/Images/Literature/kupala.png" alt="kupala" />
                        <h4  style="margin-left:-20%">Купала</h4>
                    </div>
                    <div class=" col-lg-4 col-md-4 col-sm-4 col-xs-4" style="margin-top:-8.5%; margin-left:1.7%">
                        <p>
                            <p style="font-weight:800;">Чым хата багата</p>
                            Усяго пакрысе <br />
                            Знойдзеце вы гэта, —<br />
                            Пры сасе, пры касе<br />
                            Сабрана за лета.<br />
                            <br />
                            Шчырым сэрцам, душой<br />
                            Складана няхітра,<br />
                            Знама — свой, не з якой<br />
                            Там «звёздкай» ці мітрай.<br />
                            <br />
                            Што-нібудзь мо не так —<br />
                            Прашу прабачэння;<br />
                            Трудна ў рыхт — часу брак,<br />
                            Мазаліста жменя.<br />
                            <br />
                            Мо і радасць тут — госць,<br />
                            Больш нуды праклятай;<br />
                            Вось бярыце, што ёсць,<br />
                            Чым хата багата.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

