@{
    ViewBag.Title = "Программирование";
}
<link href="~/Content/AboutStyle.css" rel="stylesheet" type="text/css" />
<br />
<h2 class="las">Languages and technologies</h2>
<br/>
<div class="row">
    <div class="col-lg-3">
        <div>
            <img class="image img-responsive" src="~/Content/Images/сsharp.png" alt="C#"/>
        </div>
    </div>

    <div class="col-lg-7">
        <div>
            <h1 class="title-text">C Sharp</h1>
            <p class="text">
                C# is a general-purpose, multi-paradigm programming language 
                encompassing strong typing, lexically scoped, imperative, declarative, functional, 
                generic, object-oriented (class-based), and component-oriented programming disciplines.
            </p>
        </div>
    </div>
    <div class="col-lg-2">
        <div>
            @*<img style="width:110%" src="~/Content/Images/asp.net_img.png" alt="asp.net" />*@
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-7">
        <div>
            <h1 class="title-text right">ASP.NET MVC</h1>
            <p class="text right">
                The ASP.NET MVC is a web application framework developed by Microsoft, which implements 
                the model–view–controller (MVC) pattern. It is open-source software, apart from the ASP.NET 
                Web Forms component which is proprietary.
            </p>
        </div>
    </div>
    <div class="col-lg-3">
        <div>
            <img style="width:90%" src="~/Content/Images/asp.net_img.png" alt="asp.net" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <div>
            <img style="width:130%" class="image img-responsive" src="~/Content/Images/CuI_lprUEAAm8x9.jpg" alt="wpf" />
        </div>
    </div>

    <div class="col-lg-7">
        <div>
            <h1 class="title-text">WPF</h1>
            <p class="text">
                WPF is a graphical subsystem (similar to WinForms) by Microsoft 
                for rendering user interfaces in Windows-based applications. WPF uses DirectX and attempts to provide 
                a consistent programming model for building applications. It separates the user interface from business 
                logic, and resembles similar XML-oriented object models.
            </p>
        </div>
    </div>
    <div class="col-lg-2">
        <div>
            @*<img style="width:110%" src="~/Content/Images/asp.net_img.png" alt="asp.net" />*@
        </div>
    </div>
</div>




