@{
    ViewBag.Title = "Навыки у мения";
}
<link href="~/Content/AboutStyle.css" rel="stylesheet" type="text/css" />
<div class="container">
    <div class="header">
        <br />
        <h2 class="las">Skills and technologies</h2>
    </div>
    <br />

    <div class="row">
        <div class="col-lg-5">
            <img class="block another" src="~/Content/Images/Sport/programming.jpg" alt="Programming" />
        </div>
        <div class="text-sport col-lg-7">
            I am very sociable, creative and comprehensively developed person. I usually spend my free time
            playing a guitar or fano. I am obsessed with singing, doing sports, going to the pool. Furthermore
            I enjoy doing computer graphics in a program such as Adobe Illustrator. I'm trying to learn
            programming and something new in the field of software development more and more.
        </div>
    </div>
    <div class="row">
        <h1 class="skills-header">Skills</h1>
        <div class="col-lg-12 text-skills">
            • C#, basic OOP knowledge <br />    
            • Basic knowledge of .NET Framework, Linq<br />
            • Working experience in: Visual Studio, SQL, WinForms, WPF, Unity, MS Access, MS SQL Server, Entity Framework, Selenium, xUnit, MSTest<br />
            • Basic knowledge of Delphi, Pascal<br />
            • Basic knowledge of XAML<br />
            • Working experience in small training projects: ASP.NET MVC, HTML, CSS, JS, Bootstrap, Dependency injection<br />
            • Git basics<br />
            • Good mathematical and algorithmic basic, knowledge of basic data structures<br />
            • Pre-intermediate English
        </div>
    </div>
</div>


