
@{
    ViewBag.Title = "Контактное лицо";
}
<link href="~/Content/ContectStyle.css" rel="stylesheet" type="text/css"/>

<h3>@ViewBag.Message</h3>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <div class="block-contact text-center">
                <br />
                <div class="contact-person">Contact person</div>
                <img width="225" height="225" src="~/Content/Images/Профиль2.jpg" alt="Круковский" class="photo" />
                <div class="data">Krukovsky <br/> Artyom</div>
                <div>
                    <div class="imgs-contact">
                        <a href="https://github.com/ArtiomKrukovsky">
                            <img class="img git" width="60" src="~/Content/Images/github.png" alt="github" />
                        </a>
                        <a href="https://www.facebook.com/">
                            <img class="img fb" style="padding:5px;" width="60" src="~/Content/Images/facebook.png" alt="facebook" />
                        </a>
                        <a href="https://vk.com/k_apyst_a">
                            <img class="img vk" width="60" src="~/Content/Images/vk.png" alt="Vk" />
                        </a>
                        <div class="phone"> <i class="glyphicon glyphicon-phone"></i> +375 (33) 688-66-81</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

