<!DOCTYPE html>
<html>
@{
    ViewBag.Title = "Главная страница";
}
<head>
    <link rel="stylesheet" href="~/Content/MainPageStyle.css" type="text/css" />
    <meta charset="utf-8" />
</head>

<body>
    <div class="container container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <img class="image-me img-responsive" src="~/Content/Images/me.jpg" alt="It's me" style="padding-top:6%; margin-left:3px;" />
            </div>

            <div class="col-lg-4">
                <div class="text-block text-line">
                    <p class="name">Artyom Krukovsky</p>
                    <p> <i class="glyphicon glyphicon-education"></i> GGKTTD student, third course</p>
                    <p>Information Technology Software</p>
                    <br />
                    <p> <i class="glyphicon glyphicon-globe"></i> Grodno, Republic of Belarus </p>
                    <p> <i class="glyphicon glyphicon-phone"></i> Phone: 375 (33) 688-66-81</p>
                    <p> E-mail: <a href="#">ArtiomKrukovsky@gmail.com</a> </p>
                    <p> <a href="https://github.com/ArtiomKrukovsky">https://github.com/ArtiomKrukovsky</a> </p>
                </div>
            </div>

            <div class="col-lg-offset-2 col-lg-3 column-contect">
                <div class="text-block text-line ">
                    <p class="portfolio">My portfolio:</p>
                    <a href="https://github.com/ArtiomKrukovsky">
                        <img src="~/Content/Images/github.png" alt="It's me" style="width:20%; height:20%; margin-left:6%;" />
                        GitHub
                    </a>
                </div>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-lg-3">
                <h4>MUSIC</h4>
                <a href="Main/AboutMeMusic">
                    <img class="img-item img-responsive" style="text-align: center;" src="~/Content/Images/music.png" alt="Music" />
                </a>
            </div>
            <div class="col-lg-3">
                <h4>LITERATURE</h4>
                <a href="#">
                    <img class="img-item img-responsive" src="~/Content/Images/literature.png" alt="Music" />
                </a>
            </div>
            <div class="col-lg-3">
                <h4>PROGRAMMING</h4>
                <a href="Main/AboutMeProgramming">
                    <img class="img-item img-responsive" src="~/Content/Images/programming.png" alt="Music" />
                </a>
            </div>
            <div class="col-lg-3">
                <h4>SPORT</h4>
                <a href="#">
                    <img class="img-item img-responsive" src="~/Content/Images/sport.png" alt="Music" />
                </a>
            </div>
        </div>
    </div>
</body>
</html>


