@{
    ViewBag.Title = "Дополнительная информация";
}

<link href="~/Content/AboutStyle.css" rel="stylesheet" />
<br />
<h2 style="padding-left: 7%;" class="las">Education and motivation</h2>
<div class="container">

    <div class="row">
        <div class="col-lg-4 ">
            <img class="block" src="~/Content/Images/Grodno.jpg" alt="Grodno" />
        </div>
        <div class="col-lg-8 few-info">
            <p id="header-paragraf">
                Few information about me
            </p>
            <p id="newparagraf">
                Hello, My name is Artyom Krukovsky, I'm 18.I was born in Grodno in 15
            </p>
            <p id="paragraf">
                of October in 2000.<br />
            </p>
            <p id="newparagraf">
                I am rather ambitious person, and I always feel passionate about solving
            </p>
            <p id="paragraf">
                various types of tasks and finding new innovative approaches.  I am keen on
                updating my experience and outlook especially in uncharted fields. I try to keep
                tuned with all new developments in the field of information technology.<br />
            </p>
            <p id="newparagraf">
                Also I am very sociable, creative and comprehensively developed person.
            </p>
        </div>
    </div>

    <div class="row content">
        <div class="col-lg-8 ">
            <p id="header-paragraf" style="margin: 25px 30px 0px 100px;">
                School
            </p>
            <p id="newparagraf">
                I studied at the Gymnasium number 4, the city of Grodno. Maths and
            </p>
            <p id="paragraf">
                English flow.
            </p>
            <p id="newparagraf">
                Since my school times I am highly interested in the modern
            </p>
            <p id="paragraf">
                technologies.
                I was an outstanding and prospective student, who had a desire to do additional tasks.
            <p id="newparagraf">
                As you can understand even at that age I wanted to learn something
            </p>
            <p id="paragraf">
                new and improve myself, which strengthened in me passion to develop my skills.
            </p>
        </div>
        <div class="col-lg-4">
            <img class="block" src="~/Content/Images/gymnasium.jpg" alt="Gymnasium" />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <img class="block" src="~/Content/Images/ggkttd.jpg" alt="ggkttd" />
        </div>
        <div class="col-lg-8">
            <p id="header-paragraf">
                College
            </p>
            <p id="newparagraf">
                After graduating from school, I decided to enroll in a special programmer.
            </p>
            <p id="paragraf">
                Nowadays,I study at Grodno State College of Technique, technology and design.
                Information Technology Software. 3-d course.
                My total grade is rather high.
            </p>

            <p id="newparagraf">
                It is worth to mention that self-education takes a great part in my education
            </p>
            <p id="paragraf">
                process. Through reading and analyzing different scientific articles I can master my theoretical skills and put them into practice.
            </p>
        </div>
    </div>
</div>

